In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('mymoviedb.csv', lineterminator='\n')
df.head()

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,2021-12-15,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2022-03-01,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2022-02-25,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,2021-11-24,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,2021-12-22,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9827 entries, 0 to 9826
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Release_Date       9827 non-null   object
 1   Title              9827 non-null   object
 2   Overview           9827 non-null   object
 3   Popularity         9827 non-null   float64
 4   Vote_Count         9827 non-null   int64
 5   Vote_Average       9827 non-null   float64
 6   Original_Language  9827 non-null   object
 7   Genre              9827 non-null   object
 8   Poster_Url         9827 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 691.1+ KB

In [9]:
for col in df.columns:
    print(f"{col} : {df[col].nunique()}")

Release_Date : 5893
Title : 9513
Overview : 9822
Popularity : 8160
Vote_Count : 3266
Vote_Average : 74
Original_Language : 43
Genre : 2337
Poster_Url : 9827

In [12]:
df.duplicated().sum()

0

In [21]:
df[df.Title.duplicated(keep=False)].sort_values('Title')

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
3270,2015-05-22,365 Days,This film tracks a hasty marriage through its ...,28.341,12,4.8,te,Romance,https://image.tmdb.org/t/p/original/AoFyZGDgfr...
1424,2020-02-07,365 Days,"A woman falls victim to a dominant mafia boss,...",52.418,6540,7.0,pl,"Drama, Romance",https://image.tmdb.org/t/p/original/6KwrHucIE3...
5993,1984-10-09,A Christmas Carol,A bitter old miser who makes excuses for his u...,18.546,241,7.3,en,"Drama, Fantasy, TV Movie, Family",https://image.tmdb.org/t/p/original/kGmpIkjVRW...
2052,2009-11-04,A Christmas Carol,Miser Ebenezer Scrooge is awakened on Christma...,39.916,3732,6.9,en,"Animation, Family, Drama, Fantasy",https://image.tmdb.org/t/p/original/goHDZUnqZJ...
2169,2010-04-30,A Nightmare on Elm Street,The film that brings back horror icon Freddy K...,38.399,2187,5.5,en,"Horror, Mystery, Thriller",https://image.tmdb.org/t/p/original/4W2GvVM89X...
...,...,...,...,...,...,...,...,...,...
985,2003-05-30,Wrong Turn,Chris crashes into a carload of other young pe...,66.173,1978,6.3,en,"Horror, Thriller",https://image.tmdb.org/t/p/original/ixBGcbQKvl...
8978,2011-09-09,Wuthering Heights,"Yorkshire moorlands, northern England, in the ...",14.157,182,5.9,en,"Drama, Romance",https://image.tmdb.org/t/p/original/7gEcoCve3l...
7409,1939-04-07,Wuthering Heights,The Earnshaws are Yorkshire farmers during the...,16.080,189,7.3,en,"Drama, Romance",https://image.tmdb.org/t/p/original/tA3ZaItWqh...
1887,2020-07-24,"Yes, God, Yes","Alice, a young innocent Catholic girl, is temp...",42.470,353,6.4,en,"Comedy, Drama",https://image.tmdb.org/t/p/original/69SYznq2mS...
4001,2017-04-23,"Yes, God, Yes",Fifteen-year-old Alice has always been a good ...,24.487,62,6.0,en,"Comedy, Drama",https://image.tmdb.org/t/p/original/ftR7yM9zfP...

In [20]:
df[df.Overview.duplicated(keep=False)].sort_values('Overview')

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
1736,2015-04-25,Parasyte: Part 2,"Alien pods come to Earth and, naturally, start...",45.155,121,7.0,ja,"Science Fiction, Horror",https://image.tmdb.org/t/p/original/qO8zQ9dSAD...
1774,2014-11-29,Parasyte: Part 1,"Alien pods come to Earth and, naturally, start...",44.344,176,7.1,ja,"Science Fiction, Horror",https://image.tmdb.org/t/p/original/lNzCFguC8w...
2558,1993-09-23,Dragon Ball Z Side Story: Plan to Eradicate th...,Dr. Raichi is one of the only survivors of the...,34.174,29,6.3,ja,"Action, Adventure, Animation",https://image.tmdb.org/t/p/original/v8Fj0USMWp...
2567,2010-11-11,Dragon Ball: Plan to Eradicate the Super Saiyans,Dr. Raichi is one of the only survivors of the...,34.103,234,7.1,ja,"Action, Animation, Adventure",https://image.tmdb.org/t/p/original/vkZJ7MIa9X...
8016,1993-07-10,Crazy Hong Kong,"In the early 1990s, Nǃxau was cast in three lo...",15.223,13,4.8,cn,"Adventure, Comedy",https://image.tmdb.org/t/p/original/escomlWztO...
9518,1994-03-31,The Gods Must Be Funny in China,"In the early 1990s, Nǃxau was cast in three lo...",13.622,9,5.3,cn,Comedy,https://image.tmdb.org/t/p/original/wstrALDmRz...
3314,2011-07-16,Pokémon the Movie: Black - Victini and Reshiram,The Kingdom of the People of the Earth once ru...,28.070,117,6.6,ja,"Animation, Family, Adventure, Drama, Fantasy",https://image.tmdb.org/t/p/original/qPfo5ooRJW...
4171,2011-07-16,Pokémon the Movie: White - Victini and Zekrom,The Kingdom of the People of the Earth once ru...,23.748,132,6.6,ja,"Animation, Family, Adventure, Drama, Fantasy",https://image.tmdb.org/t/p/original/3g0GDIiFCT...
4421,2006-12-07,Charlotte's Web,Wilbur the pig is scared of the end of the sea...,22.901,1134,6.2,en,"Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/gqg3ruuEDQ...
9036,1973-03-01,Charlotte's Web,Wilbur the pig is scared of the end of the sea...,14.106,290,6.7,en,"Family, Music, Animation, Drama, Comedy",https://image.tmdb.org/t/p/original/eLq5bed09b...

Now we can see that the data is clean, but "Title" and "Overview" columns have duplicated values, so we know that there are simialar movie names and there are many parts of the same movie as there are the same overview about the movie.

Now let's move to visualizing the data and taking insights from it.